/* -----------------------------
    
        Default Values

Font Unbuntu, Pasifico(only logo) , sand serif

Colors:
    1. Imperial Primel:          #222f3e;
    2. Wild Caribien Green:      #1dd1a1;
    3. Light Gray:               #fbfbfb;
    4. Gray tone:                #7e7e7e;

--------------------------------/;

/*------------------------------
        Basic Setup
--------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #ffff;
}

/*------------------------------
            Header
--------------------------------*/


body {
    background-color: #fbfbfb;
}

.page-header {
    background-color: #222f3e;
    color: #fbfbfb;
    font-family: 'Pacifico', cursive;
    padding-left: 70px;
    
}

.page-header span {
    margin-left: 5px;
    color: #1dd1a1;
}


/*------------Nav Menu------------------*/


.nav-menu {
    padding: 10px 0 10px 120px;
}

.nav-menu a {
    color: #7e7e7e;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-menu a:hover {
    color: #222f3e;
    font-weight: 700;
}

.nav-menu li {
    padding: 20px;
}

/*------------Header img------------------*/

.header-image {
    background-image: linear-gradient(rgba(40,0,0, 0.5),rgba(0,0,0, 0.7)) ,url(../Img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fbfbfb;
}

.header-image h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 1.5px;
}

.header-image p {
    font-size: 18px;
    margin: 20px 170px;
    text-align: center;
}

/*------------------------------
            Selection 
           Jorney-Ways
--------------------------------*/

.jorney-ways {
    width: 90%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 40px;
    
}

.jorney-ways h2 {
    text-align: center;
    text-transform: uppercase;
    color: #222f3e;
    font-size: 50px;
    font-weight: 300;
}

.jorney-ways h2 span { 
    color: #1dd1a1;
    font-weight: 700;
}

#jorney-explain {
    font-size: 20px;   
    text-align: center;
    margin-top: 15px;
}

.ways-to-travel {
    display: flex;
    text-align: center;
}

.ways-to-travel {
    margin-top: 50px;
}

.ways-to-travel img {
    height: 180px;
    margin-bottom: 20px;
}

.ways-to-travel h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #222f3e;
}

.ways-to-travel p {
    color: #222f3e;
}

.travel-way h3 span {
    color: #1dd1a1;
}

.travel-way p {
    margin-top: 10px;
    color: #222f3e;
    margin: 0px 20px;
}

.Airplane {
    margin-top: 30px;
}


/*------------------------------
            Selection 
              Galary
--------------------------------*/


.city-images {
    color: #222f3e;
}

.images-of-cities {
    padding-top: 30px;
    background-color: #1dd1a1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.city-image {
    width: 29%;
    margin-bottom: 25px;
    background-color: #fbfbfb;
}

.city-image img {
    width: 100%;
}

.city-image h3 {
    padding: 15px;
}

.city-image p {
    padding: 0 15px 10px 15px;
}


/*------------------------------
            Footer
--------------------------------*/


footer{
    background-color:  #222f3e;
    color: #fff;
    padding: 20px 70px;
    
}



















